@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fe533d;
  --secondary-color: #000000;
  --tertiary-color: #fff;

  --background-primary: #fff;
  --background-secondary: #f5f5f5;
  --background-tertiary: #000;

  min-height: 100vh;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  min-height: 100% !important;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  // border-bottom: 0.5rem ;
  min-height: 100%;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #a31906, #fe533d);
}

nav.navbar {
  padding: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: Outfit;
    font-weight: 700;
    line-height: 120%;

    span {
      color: var(--primary-color);
    }

    animation: navSlideIn 0.6s forwards;
  }

  .nav-links {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

    .nav-link {
      color: var(--secondary-color);
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 120%;
      text-transform: lowercase;
      padding: 0.12em 0.8em 0.12em 0.5em;

      animation: navSlideIn 0.6s forwards;
    }
  }

  @keyframes navSlideIn {
    0% {
      opacity: 0;
      transform: translateX(-150%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .menu-open-cta {
    font-weight: bold;
    font-size: 1.35rem;
    display: inline-block;
  }
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Authentication

.auth-container {
  width: 100%;
  // background-color: #404040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .auth-type-title {
    color: #000;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .auth-form-submit-btn {
    margin: 1.25rem 0;
    background-color: #e7e4e4;
    width: 40%;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2% 5%;
    text-align: center;
    border-radius: 0.75em;
  }

  .auth-user-redirect {
    color: #5c5b5b;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }

  .login-form-container {
    padding: 55% 0;

    .form-group {
      padding: 1rem 1rem 0.5rem 1rem;
      background-color: #e7e4e4;
      border-radius: 1rem;
      margin: 1rem 0;
      width: 80%;
      align-self: center;
      justify-self: center;

      .form-group-label {
        // color: #000;
        font-size: 1rem;
        font-weight: 600;
        line-height: 120%;
        text-transform: capitalize;
        align-self: flex-start;
      }

      .input-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        i {
          font-size: 1.25rem;
          width: 2rem;
        }

        .pass-reveal-icon {
          font-size: 1rem;
          width: 2rem;
        }
      }

      input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }

      .form-group-input {
        width: 100%;
        // padding: 0.5rem 0.5rem;
        // border-radius: 0.5rem;
        border: none;
        margin: 0.5rem 1rem;
        background-color: #e7e4e4;

        &:focus {
          outline: none;
          line-height: 0.1rem;
          border-bottom: 2px solid #404040;
        }
      }
    }

    


  }
}

section.hero-section {
  width: 100%;
  padding: 40% 5%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1.hero-title {
    color: var(--secondary-color);
    text-align: center;
    font-size: 3.5rem;
    font-family: Outfit;
    font-weight: 700;
    line-height: 100%;
    padding: 0;
    text-transform: capitalize;
  }

  .hero-sub-title {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    font-family: Outfit;
    font-weight: 500;
    line-height: 120%;
    padding: 2.5em 1em;
  }

  .hero-cta {
    color: var(--secondary-color);
    font-size: 16px;
    font-family: Outfit;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1.92px;
    text-transform: uppercase;

    min-width: 70%;
    text-align: center;

    padding: 1em 2.5em;
    border-radius: 1em;
    background-color: var(--primary-color);
  }
}

section.testimony-section {
  width: 100%;

  .testimony-sub-title {
    color: #000;
    font-size: 1rem;
    font-family: Outfit;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.15rem;
    text-align: center;
    text-transform: uppercase;
  }

  .testimony-title {
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-family: Outfit;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    padding: 0.5em 1.5em;
  }

  .testimony-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 0;
  }

  .testimony-carousel-inner {
    // transform: translateX(20%);
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .testimony-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // min-width: 13.82394rem;
    width: 80%;
    margin: 10% 4%;
    height: 25rem;
    background: #ffffff;
    border-radius: 1.5rem;
    // border: solid 2px black;
    background-color: #ffffff54;
    box-shadow: 10px 10px 1em 0.1em rgba(0, 0, 0, 0.18);

    &:first-of-type {
      margin-left: 10%;
    }

    .card-image {
      width: 8rem;
      height: 8rem;
      flex-wrap: 0;

      background-image: url(https://images.pexels.com/photos/3616764/pexels-photo-3616764.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4rem;
    }

    .card-title {
      color: #000;
      font-size: 1.6rem;
      font-family: Outfit;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
    }
  }

  .card-description {
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    white-space: initial;

    width: 65%;

    text-align: center;
    font-size: 0.9rem;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .testimony-carousel-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

section.dashboard-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  .dashboard-card {
    width: 80%;
    min-height: 20rem;

    margin: 10% 10%;
    border-radius: 2rem;

    box-shadow: 9px 11px 18px 4px #646464a2;
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    .dashboard-card-title {
      color: #404040;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: capitalize;

      margin: 0.5rem 0;
    }

    .dashboard-card-sub-title {
      color: #404040;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: capitalize;

      margin: 0.2rem 0;
    }

    .dashboard-card-image-outer {
      position: absolute;
      width: 125%;
      aspect-ratio: 1/1;
      overflow: hidden;
      z-index: 1;
    }

    .dashboard-card-image {
      position: absolute;
      width: 80%;
    }
  }

  .main-dashboard {
    .align-right {
      display: flex;
      flex-direction: column;
      // align-self: flex-end;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-left: 45%;

      margin: 1rem 0 0 0;

      .yearly-count {
        color: #fe3d3d;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 100%;
        text-transform: capitalize;
        margin: 0.5rem 0;
      }

      .new-birthday-btn {
        color: #fff;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 0.09rem;
        text-transform: uppercase;

        background-color: #fe3d3d;
        border-radius: 1rem;
        padding: 0.75rem 1.25rem;
        margin-top: 1rem;
      }
    }

    .dashboard-card-image {
      position: absolute;
      bottom: -10%;
      left: -10%;
    }
  }

  .secondary-dashboard {
    justify-content: space-evenly;
    .dashboard-card-title {
      font-size: 2rem;
    }

    .dashboard-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin: 1rem 0 0 0;

      .dashboard-card-item {
        span {
          color: #fe533d;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 100%;
          text-transform: capitalize;
        }

        font-size: 1.25rem;
        font-family: Outfit;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.05rem;
        text-transform: capitalize;

        position: relative;
        margin-bottom: 0.5rem;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.125rem;
          background: rgba(136, 136, 136, 0.281);
          bottom: -0.2rem;
          left: 0;
        }
      }
    }

    .dashboard-card-image-outer {
      margin-bottom: 5%;

      .dashboard-card-image {
        position: absolute;
        bottom: -20%;
        right: -30%;
        transform: rotate(-25deg);
        flex-shrink: 0;
      }
    }
  }
}

section.calendar-section {
  width: 100%;
  padding: 40% 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .calendar-title-text {
    color: #404040;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
  }

  .calendar-card-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 0;
  }

  .calendar-card-carousel-inner {
    // transform: translateX(20%);
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .calendar-card {
    width: 90%;
    min-height: 20rem;

    margin: 10% 5%;
    border-radius: 2rem;

    box-shadow: 10px 10px 18px 4px #646464a2;
    padding: 1.5rem 1.5rem;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;

    position: relative;

    .calendar-card-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .calendar-month-title {
        color: #404040;
        text-align: center;
        font-size: 1.75rem;
        font-weight: 700;
        text-transform: uppercase;

        margin: 0.5rem 0;
      }

      .calendar-week-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .calendar-card-sub-title {
          color: #000;
          text-align: center;
          font-size: 1.25rem;
          font-family: Outfit;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          text-transform: uppercase;

          margin: 0.5rem 0;
          width: 2.5rem;
          padding: 0.5rem;
          background-color: #d9d9d9;
          border-radius: 50%;
        }
      }
    }

    .calendar-days {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      flex-wrap: wrap;

      .calendar-week {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
      }

      .calendar-card-day {
        color: #000;
        text-align: center;
        font-size: 1.25rem;
        line-height: normal;
        text-transform: uppercase;

        margin: 0.2rem 0;
        width: 2.5rem;
        padding: 0.5rem;
        font-weight: 600;
        background-color: #f1f1f1;
        border-radius: 50%;
      }

      .no-bg-day {
        background-color: transparent;
      }
    }
  }
}
